<nav class="admin-nav">
    <a href="#top">↑ Haut</a>
    <a href="#users">Utilisateurs</a>
    <a href="#recipes">Recettes</a>
    <a href="#ingredients">Ingrédients</a>
    <a href="#ingre_categ">Catégories</a>
</nav>
